.header {
    background: url('../images/bg-pattern-intro.svg'), linear-gradient(125deg, #FF8F71, #FF3E55);
    background-repeat: no-repeat;
    background-size: 400%;
    background-position: center;

    padding-bottom: 10em;
    border-bottom-left-radius: 5em;
}

.flex {
    display: flex;
    align-items: center;
}

.nav-wrapper {
    padding: 4em clamp(1.5em, 10vw, 10em);
    max-width: 1500px;
    margin: auto;
}

.logo {
    margin-right: auto;
    width: 20%;
    max-width: 100px;
}

.nav-list {
    display: none;
}

.hero-content { 
    text-align: center;
    color: #FFF;
    h1, p {
        margin: auto;
        width: 85%;
    }
    h1 {
        margin-top: 2em;
        font-size: clamp(2.2em, 5vw, 4em);
        
        line-height: 1.5em;
    }
    p {
        font-size: clamp(1.1em, 2vw, 1.4em)
    }

    .hero-links {
        margin: auto;
        margin-top: 4em;
        width: 80%;
        max-width: 300px;
        ul {
            display: flex;
            justify-content: space-between;
        }
        .start-free-btn {
            background-color: #FFF;
            color: #FF505C;
        }
        .learn-more-btn {
            border: 1px solid #FFF;
            color: #FFF;
        }
    }
}