.header {
    background: url('../images/bg-pattern-intro.svg'), linear-gradient(125deg, #FF8F71, #FF3E55);
    background-repeat: no-repeat;
    background-size: 400%;
    background-position: center;

    padding-bottom: 10em;
    border-bottom-left-radius: 5em;
}

.flex {
    display: flex;
    align-items: center;
}

.nav-wrapper {
    padding: 4em clamp(1.5em, 10vw, 10em);
    max-width: 1500px;
    margin: auto;
}

.logo {
    margin-right: auto;
    width: 20%;
    max-width: 100px;
}

.hero-content { 
    text-align: center;
    color: #FFF;
    h1, p {
        margin: auto;
        width: 85%;
    }
    h1 {
        margin-top: 2em;
        font-size: clamp(2.2em, 5vw, 4em);
        
        line-height: 1.5em;
    }
    p {
        font-size: clamp(1.1em, 2vw, 1.4em)
    }

    .hero-links {
        margin: auto;
        margin-top: 4em;
        width: 80%;
        max-width: 300px;
        ul {
            display: flex;
            justify-content: space-between;
        }
        .start-free-btn {
            background-color: #FFF;
            color: #FF505C;
        }
        .learn-more-btn {
            border: 1px solid #FFF;
            color: #FFF;
        }
    }
}

// DROPDOWN NAV STYLING

.nav-wrapper {
    position: relative;
}

.nav-list {
    position: absolute;
    top: 75%;
    left: 10%;
    width: 80%;

    margin: auto;
    background-color: white;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding: 3em 1em;

    border-radius: 0.5em;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, .25);

    color: #1F3E5A;
    font-weight: 600;
    font-size: 1.1em;
}

.dropdown-wrapper {
    background-color: #EFEFF0;
    padding: 0em clamp(2em, 15vw, 10em);
    margin-top: 1em;
    font-family: $font-ubuntu;
    font-weight: 400;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 1em;
        gap: 1em;

        width: 100%;
    }
    
    border-radius: 0.5em;

    a {
        text-decoration: none;
        color: #1F3E5A;
    }
}

.horizontal-line {
    width: 85%;
    hr {
        border: 1px solid #E8E4E4;
    }
}

.btn-main {
    button {
        padding: 0.8em 1.2em;
        border-radius: 2em;

        color: #FFF;

        font-weight: 600;
        font-size: 1em;
    }
}

.btn-signup {
    button {
        background: linear-gradient(90deg, #FF8F71, #FF3E55);
    }
}

.btn-login {
    button {
        color: #1F3E5A;
    }
}

@media screen and (min-width: 1440px) {

    .header {
        background-size: 200%;
    }

    // NAV ITEMS
    .hamburger-btn {
        display: none;
    }

    .header-nav {
        width: 100%;
    }
    
    .nav-list {
        display: flex;
        flex-direction: row;

        background-color: transparent;
        box-shadow: none;

        position: relative;
        left: auto;

        width: 100%;
        padding: 0;
        margin-left: 2em;

        color: #FFF;
        summary {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }
        }
        hr {
            display: none;
        }
    }

    .btn-main {
        width: 40%;
        display: flex;
        button {
            cursor: pointer;
        }
    }

    .btn-signup {
        justify-content: flex-start;
        button {
            background: #FFF;
            color: #FF505C;
        }
        &:hover {
            button {
                background: #FF7B86;
                color: #FFF;
            }
        }
    }
    
    .btn-login {
        justify-content: flex-end;
        margin-left: 10em;
        button {
            color: #FFF;
            &:hover {
                color: #FFBEBD;
            }
        }
    }

    // DESKTOP DROPDOWN WRAPPERS
    .dropdown-wrapper {
        position: absolute;
        width: auto;
        padding: 1em;
        top: 100%;
        ul {
            a {
                &:hover {
                   font-weight: bold;
                }
            }
        }
    }
}

