.infrastructure {
    background: linear-gradient(0deg, #2D2E40, #3F4164);

    display: flex;
    flex-direction: column;
    text-align: center;

    margin-top: 10em;
    margin-bottom: 10em;
    align-items: center;

    color: #FFF;

    border-bottom-left-radius: 5em;
    border-top-right-radius: 5em;
    h3 {
        font-size: 2em;
        margin: auto;
        width: 80%;
    }
    p {
        width: 80%;
        margin: auto;
        margin-top: 1em;
        padding-bottom: 5em;
        line-height: 1.5em;
    }
}

.infrastructure-img-wrapper {
    background: url('../images/bg-pattern-circles.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -150px;

    max-height: 300px;
    img {
        max-width: 100%;
        transform: translateY(-100px)
    }
}

@media screen and (min-width: 1440px) {
    .infrastructure {
        flex-direction: row;
        text-align: left;
    }
    .infrastructure-content {
        max-width: 45%;
        margin: auto;
        margin-top: 6em;
    }
    .infrastructure-img-wrapper {
        margin-left: 4em;
    }
}